body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    margin: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 300px;
}
.linketinder {
    font-size: 80px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex: 1;
}
.menu button {
    width: 200px;
    height: 60px;
    padding: 20px;
}